<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="6.0.2" targetFramework="net452" />
  <package id="CacheManager.Core" version="1.1.2" targetFramework="net452" />
  <package id="CacheManager.Web" version="1.1.2" targetFramework="net452" />
  <package id="System.ComponentModel.Annotations" version="4.5.0" targetFramework="net452" />
</packages>